*{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    background-image: url(/img/bgmap.jpg);
    background-size: cover;
    background-position: center;
    

}
.app{
    background: rgba(228, 216, 201 , 0.8);
    border: 2px solid #59230F;
    border-radius: 5px;
    width: 50%;
    margin: 10rem;
    
}
.app h1{
    color: #3E2C25;
    font-weight: 900;
    padding: 1rem;
    font-size: 3rem;
    

}
.scoretime{
    display: flex;
    justify-content: space-around;
    width: 30%;
    
    

}
.score{
    height: 3rem;
    width: 3rem;
    background: #C4B197;
    border: 2px solid #59230F;
    border-radius: 10px;

}
.quizz{
    display: flex;
    justify-content: center;

}

.app h2{
    color: #59230F;
    font-weight: 700;
    padding: 2rem ;
    font-size: 2rem;
    text-align: center;
        
}
#answer-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.btn{
    width: 40%;
    padding: 0.7rem;
    margin: 0.7rem;
    background: #C4B197;
    color: #59230F;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 3px;
    border: 2px solid rgba(89, 35, 15, 0.5);
    
}
.btn:hover{
    border: 2px solid #59230F;

}

.titretime{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    border-bottom: 1px solid #59230F;
    padding-bottom: 1rem;
}
.next{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
#next-btn{
    padding: 0.5rem;
    width: 30%;
    background: #59230F;
    color: #E4D8C9;
    border: 2px solid #59230F;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;

}
#next-btn:hover{
    background: #E4D8C9;
    color: #59230F;
    
}
img{
    width: 50%;
}
.img{
    display: flex;
    justify-content: center;
}
#fin{
        display: none;
        width: 40%;
        height: 40vh;
}
@media screen and (max-width:1000px){
    .app h1{
        font-size: 2.5rem;
        text-align: center;
        }
    .app h2{
        font-size: 1.8rem;
        text-align: center;
        
    }
    .quizz{
        
    }

    .btn{
        width: 100%;
    }
    #next-btn{
        width: 100%;
    }
    .titretime{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .scoretime{
        width: 100%;
    }
}

@media screen and (max-width:400px){
    .app h1{
        font-size: 2rem;
    }
    .app h2{
        font-size: 1.5rem;
    }
    
}




































































 